@charset "utf-8";
	.Estilodecaracterenormal1
{
	font-family : Acumin Variable Concept;
	font-size : 54px;
	letter-spacing : 30.24px;
}
.Estilodecaracterenormal2
{
	font-family : Acumin Variable Concept;
	font-size : 33px;
	letter-spacing : 49.83px;
}
.Estilodecaracterenormal3
{
	font-family : Acumin Variable Concept;
	font-size : 54px;
	letter-spacing : 30.24px;
}
.Estilodecaracterenormal4
{
	font-family : Acumin Variable Concept;
	font-size : 33px;
	letter-spacing : 49.83px;
}
.Estilodecaracterenormal5
{
	font-family : Acumin Variable Concept;
	font-size : 54px;
	letter-spacing : 30.24px;
}
.Estilodecaracterenormal7
{
	font-family : Acumin Variable Concept;
	font-size : 54px;
	letter-spacing : 30.24px;
}
.Estilodecaracterenormal6
{
	font-family : Acumin Variable Concept;
	font-size : 33px;
	letter-spacing : 49.83px;
}
.Estilodecaracterenormal
{
	font-family : Acumin Variable Concept;
	font-size : 33px;
	letter-spacing : 49.83px;
}
